<h2>Posts</h2>
<span class="right"><%= link_to image_tag('add.png'), new_post_path %></span>
<%= render :partial => "posts/list" %>

<div id="sidebar">
  <div class="section">
    <h3>Categories</h3>
    <div class="in">
      <ul class="categories-field">    
        <% @categories.each do |category| %>
          <%= content_tag_for :li, category, :class => cycle(:odd, :even) do %>
            <%= link_to category.name, filter_path(category.name) %>
            <div class="right">
              (<%= category.posts.size %>)
            </div>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= form_for(Category.new, :method => :post) do |f| %>
      <div class="field"><%= f.text_field :name, :size => 26 %>
      <br /><%= f.submit t("New"), :class => "button" %></div>
    <% end %>
  </div>
</div>

