<h1>Posts</h1>
<span class="oright"><%= link_to image_tag('add.png'), new_post_path %></span>
<%= render :partial => "posts/list" %>

<h1>Categories</h1>
<div style="width:450px">
<table>
  <tr>
    <th>Name</th>
    <th>Posts</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= link_to category.name, filter_path(category.name) %></td>
    <td><%= category.posts.size %></td>
  </tr>
<% end %>
</table>

<br />
<%= form_for(Category.new, :method => :post) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit t("Save"), :class => "submit" %>
  </div>
<% end %>
</div>

