<h1>Posts</h1>
<span class="oright"><%= link_to image_tag('add.png'), new_post_path %></span>
<%= render :partial => "posts/list" %>


<h1>Categories</h1>
<div style="width:400px">
<table>
  <tr>
    <th>Name</th>
    <th>Posts</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.posts.size %></td>
  </tr>
<% end %>
</table>

<br />
<%= form_for Category.new do |f| %>
  <div class="field" style="width:100%">
    <%= f.label 'Nova Categoria' %>
    <%= f.text_field :name %> <%= f.submit t("Save"), :class => "submit" %>
  </div>
<% end %>
</div>

