
  <div class="field">
    <%= f.label :photo, 'url da foto' %>
    <%= f.text_field :photo, :class => "title" %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "title" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :site %>
    <%= f.text_field :site , :class => "title"%>
  </div>
  <br />
  <div class="actions">
    <%= f.submit t("Save"), :class => "button" %>
  </div>

