<h1>Team</h1>
<% @profiles.each do |profile| %>
  <div class="description">
    <%= image_tag profile.photo, :class => 'img' if profile.photo %> 
    <h1><%= profile.name %></h1>
    <p style="margin-left:150px"><%= profile.description %></p><br />
    <h3 class="oright"><%= link_to profile.site, profile.site  %></h3>
  </div>
<% end %>
<br />
<% content_for :foot do %>
  <section>
    <ul>
      <% Category.all.each do |c| %>
        <li><%= link_to c.name, filter_path(c.name), :class => "css2" %></li>
      <% end %>
    </ul>
  </section>

  <section>
    <% tag_cloud(Post.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
    <% end %>
  </section>
<% end %>
