<h1>Team</h1>
<% @profiles.each do |profile| %>
  <div class="description">
    <%= image_tag profile.photo.url(:thumb), :class => 'img' %> 
    <h1><%= profile.name %></h1>
    <p class="intro"><%= profile.description %></p><br />
    <h3 class="oright"><%= link_to profile.site, profile.site  %></h3>
  </div>
<% end %>
<br />
<% content_for :foot do %>
  <% tag_cloud(Post.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>

  <% Category.all.each do |c| %>
    <%= link_to c.name, posts_path, :class => "css2" %>
  <% end %>
  <%#TODO: filtro de posts por categoria e por tag %>
<% end %>
