<p id="notice"><%= notice %></p>

<h1><%= @profile.name %></h1>

  <%= image_tag @profile.photo.url(:thumb), :class => 'img' %>

<div class="description">
  <%= @profile.description %>
  <%= @profile.site %>
</div>


<%= link_to t('Edit Your Profile'), edit_profile_path(@profile) %> |
<%= link_to t('Back'), user_path(current_user) %>
