<p id="notice"><%= notice %></p>


  <%= image_tag @profile.photo.url(:thumb), :class => 'img' %>

<div class="description">
  <h1><%= @profile.name %></h1>
  <p class="intro"><%= @profile.description %></p><br />
  <h3><%= link_to @profile.site, @profile.site %></h3>
</div>
<div class="description">
  <%= link_to t('Edit Your Profile'), edit_profile_path(@profile) %> |
  <%= link_to t('Back'), user_path(current_user) %>
</div>
