<div class="description">
  <%= image_tag @profile.photo, :class => 'img' if @profile.photo %>
  <h2><%= @profile.name %></h2>
  <p class="intro"><%= @profile.description %></p>
  <h3 class="right"><%= link_to @profile.site, @profile.site %></h3>
</div>
<br />
<br />
<br />
<div class="right">
  <%= link_to t('Edit Your Profile'), profile_edit_path %> |
  <%= link_to t('Back'), :back %>
</div>
