<%= div_for comment, :class => "comment" do %>

  <div class="author">
    <div class="avatar"><%= gravatar_image_tag comment.email %></div>
    <div class="meta">
      <span class="name"><%= comment_author(comment.author, comment.url) %></span><br/>
      <span class="data">Posted <%= time_ago_in_words comment.created_at %> ago</span>
    </div>
  </div>

  <div class="body" style="margin-bottom:20px;">
    <%= comment.body %>
  </div>
<% end %>
