<div class="block small center login">
			
	<div class="block_content">
		
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<p>
				<%= f.label :email %>
				<%= f.text_field :email %>
			</p>
			
			<p>
				<%= f.label :password %>
				<%= f.password_field :password %>
			</p>
			
			<p>
				<%= f.submit "Login", :class => "submit" %>
			</p>
			<p>
      <% if devise_mapping.rememberable? -%> 
				  <%= f.check_box :remember_me, :class => "checkbox" %>
          <%= f.label :remember_me %>
		    <% end %> 
      </p>
      <%= render :partial => "devise/shared/links" %>
		<% end %>
		
	</div>		
		
</div>		

