<div class="block">
  <ul class="list">
  <% @posts.each do |post| %>
      <%= content_tag_for :li, post, :class => cycle(:odd, :even) do %>
       <%= link_to post.title, admin_post_path(post) %> por <%= post.user.name %>

        <div class="right">
          <% if post.draft? %>
            <%= link_to t('publish'), publish_path(post), :class => "button" %>
          <% else %>
            <%= t("published") %> <%= l post.published_at if post.published_at %>
          <% end %>
          <%= link_to image_tag('edit.png'), edit_post_path(post) %>
        </div>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate @posts %>

  <br />
</div>


