<% @posts.each do |post| %>
  <h1><%= link_to post.title, permalink_path(post.slug) %></h1>
  <div class="published_at"><%= l(post.published_at) %></div>
  <%= textilize post.body %>
<% end %>
<%= will_paginate @posts %>

<% content_for :foot do %>
  <% tag_cloud(Post.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>

  <% @categories.each do |c| %>
    <%= link_to c.name, filter_path(c.name), :class => "css2" %>
  <% end %>
  <%#TODO: filtro de posts por categoria e por tag %>
<% end %>
