<h1><%= link_to @post.title, @post %></h1>

<%= textilize @post.body %>
<%= l(@post.published_at) if @post.published_at %>

<p style="color:grey;text-align:right;"><i>por <%= link_to @post.user.name, profiles_path %></i></p>

<p>
<% @post.categories.each do |c| %>
  <%= c.name %><br />
<% end %>
</p>
<p><%= @post.comments.count %> Comments</p>

<div id="comments">
<%- if @post.comments.any? -%>
  <%= render @post.comments %>
<%- end -%>
</div>

<%= render "comments/form", :post => @post, :comment => Comment.new %>
