<h1><%= link_to @post.title, permalink_path(@post.slug) %></h1>
<div class="published_at"><%= l(@post.published_at) if @post.published_at %></div>

<%= textilize @post.body %>

<div class="published_at"><%= @post.user.name %></div>
<div id="rodape" class="box clearfix">
  <span><%= tweet_button %></span>
  <span>
    <% @post.categories.each do |c| %>
      <%= link_to c.name, filter_path(c.name) %>
    <% end %>
  </span>
  <span>
    <% @post.tag_list.each do |t| %> <%= t %> <% end %>
  </span>
</div>
<%#= @post.comments.count %>

<div id="comments">
<%- if @post.comments.any? -%>
  <%= render @post.comments %>
<%- end -%>
</div>

<%= render "comments/form", :post => @post, :comment => Comment.new %>


<% content_for :foot do %>
  <% tag_cloud(Post.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
  <% end %>

  <% Category.all.each do |c| %>
    <%= link_to c.name, filter_path(c.name), :class => "css2" %>
  <% end %>
  <%#TODO: filtro de posts por categoria e por tag %>
<% end %>
