<!DOCTYPE html>
<html>
  <head>
    <title>Khronus Soluções | Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Framework CSS -->
    <%= stylesheet_link_tag "frame/print", :media => "print" %>
    <%= stylesheet_link_tag "frame/screen", :media => "screen, projection" %>
    <!-- Site Specific CSS -->
    <%= stylesheet_link_tag "theme", :media => "screen, projection" %>
    <!--[if IE]><link rel="stylesheet" href="css/frame/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= javascript_include_tag "jquery.tools.min", "application" %>
    <%= javascript_include_tag "jquery.wysiwyg" %>
    <%= csrf_meta_tag %>
  </head>

<body>

<div id="top">
	<div class="wrap">
    	
    <div id="info">        	
    	<span class="right"><div class="nav"><% if current_user %><%= link_to t("Profile"), user_path(current_user), :class => "profile" %> 
      <%= link_to t("Logout"), logout_path, :class => "logout" %><% end %></div></span>	
    </div><!-- end info -->
    
    <%= render :partial => "layouts/menu" %>
    <div class="contentcont">
      <div class="mainbar">
          <%= flash_message %>
          <%= yield %>
      </div><!-- end mainbar -->
      <div style="clear:both;"></div>
    </div><!-- content cont -->
     
  </div><!-- end wrap -->

    <div id="footer">

      <div id="foot-center">
        <%= yield :foot %>
      </div>

      <div id="copyright">
        <%= link_to "Khronus Soluções", "#" %>	
      </div>

    </div><!--/footer-->

</div><!-- end top -->

</body>
</html>
