<!DOCTYPE html>
<html>
  <head>
    <title>Khronus Soluções | Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Framework CSS -->
    <%= stylesheet_link_tag "frame/print", :media => "print" %>
    <%= stylesheet_link_tag "frame/screen", :media => "screen, projection" %>
    <!-- Site Specific CSS -->
    <%= stylesheet_link_tag "theme", :media => "screen, projection" %>
    <!--[if IE]><link rel="stylesheet" href="css/frame/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <%= csrf_meta_tag %>
  </head>

<body>

<div id="top">
	<div class="wrap">
    	
    <div id="header">
        <%= image_tag 'logo.png' %>       	
    </div><!-- end header -->

    <%= render :partial => "shared/menu" %>
    <div class="contentcont">
      <div class="mainbar">
          <%= flash_message %>
          <%= yield %>
      </div><!-- end mainbar -->
      <div style="clear:both;"></div>
    </div><!-- content cont -->
     
  </div><!-- end wrap -->

    <div id="footer">
      <div id="foot-center">
        <%= yield :foot %>

        <section>
          <p>Lorem inpum dolor</p>
        </section>

      </div>
      <div id="copyright">
        <%= link_to image_tag('logob.png'), "http://khronus.com.br", :class => 'logos' %>	
        <%= link_to image_tag('rails.png'), "http://rails.org", :class => 'logos' %>	
        <%= link_to image_tag('github.png'), "http://github.com", :class => 'logos' %>	
        <%= link_to image_tag('heroku.png'), "http://heroku.com", :class => 'logos' %>	
      </div>
    </div><!--/footer-->

</div><!-- end top -->

</body>
</html>
